{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
  ],
  "plugins": [
    "flowtype",
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      devDependencies: [
        "src/*.test.js",
      ],
    }],
  },
}
